# Dev Files / Folders #
####################
/node_modules
/vendor
/.idea
.env
.htaccess
.well-known

# Other File Types #
####################
.DS_Store*
._*
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swp
*.swo
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip