/* ---------------------------------------------------------------------
   Font Embeds

   font-family: "Montserrat", Helvetica, Arial, sans-serif;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;

---------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* ---------------------------------------------------------------------
   Base Reset (Thanks Eric Meyer)
---------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important; /* media should never overflows it's container */
}

/* ---------------------------------------------------------------------
   HTML5 Elements
---------------------------------------------------------------------- */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
   Form Elements
---------------------------------------------------------------------- */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
   Element Defaults
---------------------------------------------------------------------- */
body {
    background-color: #ffffff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    color: #aeaeae;
}

a {
    color: #17b594;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover,
a:focus {
    color: #15a083;
    text-decoration: none;
}

/* ---------------------------------------------------------------------
   Utility Classes
---------------------------------------------------------------------- */
.isVisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.blockImage {
    display: block;
}

/* ---------------------------------------------------------------------
   Global Masthead
---------------------------------------------------------------------- */
.masthead {

}

/* ---------------------------------------------------------------------
   Global Footer
---------------------------------------------------------------------- */
.footer {

}

/* ---------------------------------------------------------------------
   Tier
---------------------------------------------------------------------- */
.tier {
    padding: 20px 0;
    background-color: transparent; /* always transparent unless extended */
}

/* always clear a tier in case there is uncleared content that is floated */
.tier:before,
.tier:after {
    content: " ";
    display: table;
}

.tier:after {
    clear: both;
}

/* tier extensions apply background */
.tier--white {
    background-color: #ffffff;
}

.tier--mist {
    background-color: #f3f0ef;
}

.tier--bright {
    background-color: #17b594;
}

/* ---------------------------------------------------------------------
   Wrapper
---------------------------------------------------------------------- */
.wrapper {
    max-width: 1200px;
    min-width: 240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------------------------------------------------------
   Grid
---------------------------------------------------------------------- */
.grid__col {
    padding: 20px;
}

@media screen and (min-width: 54em) {
    .grid:before,
    .grid:after {
        content: " ";
        display: table;
    }

    .grid:after {
        clear: both;
    }

    .grid__col {
        float: left;
        padding: 30px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .grid__col--main {
        width: calc(100% - 320px);
    }

    .grid__col--sub {
        width: 320px; /* based on the size of the social list so no line breaks occur */
    }
}

/* ---------------------------------------------------------------------
   Page
---------------------------------------------------------------------- */
.page {
    border-radius: 1px;
    background-color: #ffffff;
}

/* ---------------------------------------------------------------------
   Teaser
---------------------------------------------------------------------- */
.teaser__hd {
    margin-bottom: 20px;
}

.teaser__media {
    margin-bottom: 10px;
}

.teaser__bd {
    margin-bottom: 20px;
}

.teaser__ft {
    text-align: center;
}

/* ---------------------------------------------------------------------
   Post List
---------------------------------------------------------------------- */
.postList > * + * {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #dddddd;
}

/* ---------------------------------------------------------------------
   Heading
---------------------------------------------------------------------- */
.hdg {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

.hdg a {
    -webkit-transition: color .1s linear;
       -moz-transition: color .1s linear;
            transition: color .1s linear;
}

/* colors */
.hdg--bright,
.hdg--bright a {
    color: #17b594;
}

.hdg--bright a:hover,
.hdg--bright a:focus {
    color: #15a083;
}


/* sizes */
.hdg--xs {
    font-size: 0.75rem;
    line-height: 1.5;
}

.hdg--sm {
    font-size: 1rem;
    line-height: 1.5;
}

.hdg--md {
    font-size: 1.333rem;
    line-height: 1.3;
}

.hdg--lg {
    font-size: 1.777rem;
    line-height: 1.2;
}

.hdg--xl {
    font-size: 2.369rem;
    line-height: 1.1;
}

/* other variants */
.hdg--upper {
    text-transform: uppercase;
}

.hdg--bold {
    font-weight: 400;
}

/* ---------------------------------------------------------------------
   Icons
---------------------------------------------------------------------- */
.icn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0;
    overflow: hidden;
    vertical-align: middle;
    background-color: #ffffff;
}

.icn .fill {
    fill: #17b594;
    -webkit-transition: fill .1s linear;
       -moz-transition: fill .1s linear;
            transition: fill .1s linear;

}

.icn:hover .fill,
.icn:focus .fill {
    fill: #15a083;
}

/* ---------------------------------------------------------------------
   Button
---------------------------------------------------------------------- */
.btn {
    position: relative;
    overflow: visible; /* for IE */
    display: inline-block;
    padding: 10px 25px;
    height: 40px;
    line-height: 20px;
    border-radius: 40px;
    background-color: #17b594;
    color: #ffffff;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: background-color .1s linear;
       -moz-transition: background-color .1s linear;
            transition: background-color .1s linear;

}

.btn:hover,
.btn:focus {
    color: #ffffff;
    background-color: #15a083;
}

/* ---------------------------------------------------------------------
   User Content
---------------------------------------------------------------------- */
.userContent {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    font-style: normal;
    font-weight: normal;
    color: #aeaeae;
}

.userContent > *:not(:last-child) {
    margin-bottom: 1rem;
}